{% extends 'base.html.twig' %}

{% block title %}Hello DashBoardController!{% endblock %}

{% block body %}

    <table class="table-bordered">
        <thead>
        <tr>
            <th scope="col">N° Commande</th>
            <th scope="col">nom client</th>
            <th scope="col">Date de la commande</th>
            <th scope="col">Date de livraison demandée par le client</th>
            <th scope="col">Date de livraison</th>
            <th scope="col">Date de règlement facture</th>
            <th scope="col">N° Commande Fournisseur</th>
            <th scope="col">nom fournisseur</th>
            <th scope="col">Date de la commande fournisseur</th>
            <th scope="col">Date de production</th>
            <th scope="col">Date de production</th>
            <th scope="col">Date d’expédition des marchandises</th>
            <th scope="col">N°contrôle</th>
            <th scope="col">Date du contrôle qualité</th>

        </tr>

        </thead>
        <tbody>
        {% for a in comCli %}
        <tr>
            <th>{{ a.bonCommandeClient }}</th>
            <th>{{ a.client.nom }}</th>
            <th>{{ a.dateCommandeClient|date('Y-m-d')}}</th>
            <th>{{ a.dateLivraisonClient|date('Y-m-d')}}</th>
            <th>{{ a.dateLivraisonDemandeeParClient|date('Y-m-d')}}</th>
            <th>{{ a.dateDeReglement|date('Y-m-d')}}</th>


        </tr>
        {% endfor %}
        </tbody>



    </table>

{% endblock %}



