{% extends 'base.html.twig' %}

{% block title %}Hello DashBoardController!{% endblock %}

{% block body %}

    <table class="table-bordered">
        <thead>
        <tr>
            <th scope="col">N° Commande</th>
            <th scope="col">nom client</th>
            <th scope="col">Date de la commande</th>
            <th scope="col">Date de livraison demandée par le client</th>
            <th scope="col">Date de livraison</th>
            <th scope="col">Date de règlement facture</th>


        </tr>

        </thead>
        <tbody>
        {% for a in comCli %}

        <tr>
            <th>{{ a.bonCommandeClient }}</th>
            <th>{{ a.client.nom }}</th>
            <th>{{ a.dateCommandeClient|date('Y-m-d')}}</th>
            <th>{{ a.dateLivraisonClient|date('Y-m-d')}}</th>
            <th>{{ a.dateLivraisonDemandeeParClient|date('Y-m-d')}}</th>
            <th>{{ a.dateDeReglement|date('Y-m-d')}}</th>
            <th><a href="{{ path('dashFour',{id: a.id})}}"><button type="button" class="btn btn-primary">Commande Fournisseur</button></a></th>


        </tr>

        {% endfor %}
        </tbody>



    </table>

{% endblock %}



